# Makefile artifacts
*.o
*.so
cache-opencl.*
bin
README_dev.md

# Build outputs
*.exe
*.dll
*.zip
Release/
Release-Full/
dist/

# Generated log/text files
InstallationLog.txt
result.txt
speed.txt
daemon.log
